@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
:root {
  --main-green: #0E6655;
  --sub-green: #107a65;
  --text: #303030;
  --bg-col: #f0f0f0;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
}
body {
  overflow-x: hidden;
  background-color: var(--bg-col);
  color: var(--text);
}
header {
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
  height: 80px;
  margin: auto;
}
.navbar__logo a {
  color: var(--text);
  font-weight: bold;
  text-decoration: none;
  border-bottom: var(--main-green) 3px solid;
  font-size: 26px;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
  width: 400px;
  max-width: 400px;
  margin-left: 110px;
}
.navbar__links a {
  color: var(--text);
  text-decoration: none;
}
.navbar__links a:hover {
  color: var(--sub-green);
}
.navbar__tel a {
  color: var(--main-green);
  text-decoration: none;
}

footer {
  background-color: var(--text);
  display: flex;
  flex-direction: column;
}
.footer__links {
  width: 400px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
}
.footer_copyright {
  display: block;
  text-align: center;
  color: white;
  opacity: 0.3;
  margin-bottom: 30px;
}
.footer__links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}
.footer__links a:hover {
  color: var(--sub-green);
}
.link_active {
  color: var(--main-green) !important;
}

main {
  max-width: 1150px;
  margin: auto;
}
.title {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin: 40px 0 55px 0;
}

.main__header {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main__header h1 {
  max-width: 500px;
  font-weight: 500;
  font-size: 40px;
}
.main__content {
  margin: 60px auto 260px auto !important;
}

.slider{
  max-width: 90%;
  position: relative;
  margin: auto;
  height: 500px;
}
.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
.slider .previous, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.slider .item {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 50px auto;
}
.gallery__block {
  max-width: 360px;
  max-height: 230px;
  overflow: hidden;
  margin-bottom: 30px;
}
.gallery__block img {
  object-fit: cover;
  width: 360px;
  height: 230px;
}
.gallery__more {
  color: var(--main-green);
  background-color: var(--bg-col);

  border: 1px solid var(--main-green);
  border-radius: 8px;
  padding: 5px 15px;

  font-size: 15px;

  margin: auto;
  margin-bottom: 100px;
}
.gallery__more:hover {
  background-color: var(--main-green);
  color: var(--bg-col);
  cursor: pointer;
  transition-duration: 0.5s;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px auto;
}
.article__block {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  color: var(--text);
  text-decoration: none;
}
.article__img {
  max-height: 190px;
  overflow: hidden;
  margin-bottom: 10px;
}
.article__img img {
  object-fit: cover;
  width: 325px;
  height: 190px;
  object-position: center;
}
.article__title {
  font-size: 18px;
  font-weight: 500;
  max-height: 55px;
  overflow: hidden;
}
.article__body {
  margin: 50px auto;
  max-width: 75%;
}
.article__body img {
  float: left;
  margin: 10px 10px 10px 3px;
  max-width: 500px;
}
.breadcrumbs {
  display: flex;
  margin: 50px auto;
  max-width: 75%;
}
.breadcrumb__item a{
  color: var(--text);
  text-decoration: none;
  font-style: 10px;
  opacity: 0.6;
}
.breadcrumb__item:nth-child(-n+2):after {
  content: '\203A \00A0';
  font-size: 20px;
}
.breadcrumb__item:nth-child(3):after {
  content: '\00A0';
  font-size: 20px;
}


.about {
  margin-bottom: 230px;
}
.about__block {
  display: flex;
  margin: 40px 0;
}
.about__img {
  max-width: 325px;
  max-height: 190px;
  overflow: hidden;
  margin-right: 50px;
}
.about__img img {
  object-fit: cover;
  width: 325px;
  height: 190px;
}
.about__list {
  list-style-type: none;
  font-size: 18px;
}
.about__list li:nth-child(1) {
  margin-top: 40px;
}
.about__list li {
  margin-bottom: 15px;
  font-size: 14px;
}
.about__list img {
  margin-right: 10px;
}

.contacts__block {
  margin: 40px 0 150px 0;
}
.contacts__data {
  margin-bottom: 25px;
}
.contacts__data span{
  color: var(--main-green);
}
.contacts__data a {
  display: block;
  color: var(--text);
  text-decoration: none;
  margin: 20px 0;
}
